header {
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  position: static;
  width: 100%;
}

#cityNameContainer {
  margin-left: auto;
  margin-right: auto;
  width: 330px;
  display: block;
}


.weatherWidgetContainer, .errorMessageContainer {
  /* margin-left: auto; */
  width: 300px;
  position: relative;
  left: 50%;
  margin: 0 0 0 -150px;
}

.weatherWidget, .errorMessage {
  position: relative;
  width: 100%;
}

section {
  position: relative;
  margin-top: 30px;
  width: 100%;
  /* position: absolute; */
  overflow: auto;
}

aside {
  position: relative;
  margin-top: 30px;
  width: 100%;
  /* position: absolute; */
  overflow: auto;
}
